.card_page {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin-top: 25px;
}

.card_page p {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	width: 100%;
	text-align: center;
	text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #9dd7e6;
	font-size: 34px;
	letter-spacing: 2px;
	border-top: 5px double rgba(59, 30, 30, 0.486);
	border-bottom: 5px double rgba(59, 30, 30, 0.486);
	background-color: rgba(180, 150, 150, 0.486);
	padding-bottom: 10px;
	padding-top: 10px;
	color: #353f3c;
	backdrop-filter: blur(3px);
}
.card_page .add_button {
	position: absolute;
	height: 50px;
    width: 200px;
	right: 2vh;
    font-size: 20px;
    border-radius: 5px;
    color: rgb(252, 252, 252);
    border-style: none;
    background-color: rgba(0, 0, 0, 0.568);
    transition: all 0.35s ease-in-out;
    margin: 0;
}
.card_page button:hover {
	transform: scaleX(1.05);
	text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #9dd7e6, 0 0 20px rgb(123, 163, 204), 0 0 25px #0073e6, 0 0 30px #50769c, 0 0 35px #17416b;
	background-color: rgb(0, 0, 0);
}
.card_container {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	flex-wrap: wrap;
	width: 100%;
	overflow-x: auto;
	border-bottom: 5px double rgba(59, 30, 30, 0.486);
}