.credit_container {
    height: 430px;
    width: 450px;
    background-color: rgba(173, 173, 155, 0.753);
    border-radius: 15px;
 }
 .credit_container h1 {
     text-align: center;
     width: 100%;
     margin-bottom: 25px;
     margin-top: 25px;
 }
 .credit_container div {
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding-left: 100px;
     padding-right: 100px;
     width: 100%;
     margin-bottom: 25px;
 }
 .credit_container div label {
     font-size: 30px;
 }
 .credit_container input[type='text'], .credit_container select {
     color: rgb(10, 9, 10);
     font-size: 21px;
     padding-left: 5px;
     height: 30px;
     width: 120px;
     background-color: rgba(233, 233, 216, 0.6);
     border-radius: 5px;
 }
.credit_container input[type=submit], .credit_container input[type=button] {
     height: 80px;
     width: 80px;
     font-size: 15px;
     border-radius: 100%;
     color: rgb(252, 252, 252);
     border-style: none;
     background-color: black;
     transition: all 0.35s ease-in-out;
     margin: 0;
 }
 .button_container {
     display: flex;
     justify-content: space-evenly;
     align-items: center;
     margin: 0;
 }
 .credit_container input[type=submit]:hover, .credit_container input[type=button]:hover {
     transform: translateY(2.5px);
     color: rgb(207, 195, 195);
 }
 
 .credit_container .scroll_position_holder {
    position: relative;
    top: -25vh;
}