* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  outline: none;
  font-family: Title;
}
/* *:after,
*:before {
  box-sizing: border-box;
} */

@font-face {
	font-family: Title;
	src: url('./assets/fonts/SVN-Birth Of A Hero.ttf');
}
  
/* @font-face {
	font-family: Subtitle;
	src: url('./assets/fonts/SVN-Birth Of A Hero.ttf');
}
@font-face {
	font-family: Header;
	src: url('./assets/fonts/SVN-Birth Of A Hero.ttf');
}
 
@font-face {
	font-family: Outerspace;
	src: url('./assets/fonts/SoundWave-GOK7a.ttf');
} */

.drop_shadow {
	box-shadow: rgba(17, 16, 17, 0.56) 0px 22px 70px 4px;
}
.neon_effect {
	text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #9dd7e6, 0 0 20px rgb(123, 163, 204), 0 0 25px #0073e6, 0 0 30px #50769c, 0 0 35px #17416b;
}
html {
  scroll-behavior: smooth;
}
body {
	position: relative;
	min-height: 100%;
	background: rgba(255, 255, 255, 0.986);
	filter: brightness(.85) contrast(1.2);
	background: url('./assets/imgs/background_01.jpg') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: #2b2828;
	margin: 0;
	overflow-y: auto;
	overflow-x: hidden;
	padding-bottom: 100px; 
}
h1, h2, h3, h4, h5 {
	color: #000000;
}
.content-wrapper {
	padding-left: 100px;
	padding-right: 100px;
	margin: 0 auto;
}
body::-webkit-scrollbar {
	width: 8px;
}
   
body::-webkit-scrollbar-track {
	box-shadow: inset 0px 22px 70px 4px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb {
	background-color: rgba(90, 112, 116, 0.863);
	border-radius: 15px;
}
body::-webkit-scrollbar-thumb:hover {
	background-color: rgb(25, 49, 53);
}

