.card_detail {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    border: transparent;
    background: #00010271;
    user-select: none;
    overflow: hidden;
    height: 410px;
    width: 280px;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 25px;
    margin-bottom: 25px;
    transition: all 0.3s ease-in-out;
  }
  .card_detail:hover {
    background: #00010288;
    transform: scale3d(1.05, 1.05, 0.5);
    text-shadow: 0 0 5px #fff, 0 0 10px #fff;
  }
  .card_detail .title_bar {
    position: absolute;
    top: 5vh;
    text-align: right;
    border: transparent;
    background: rgba(174, 193, 211, 0.4);
    user-select: none;
    overflow: hidden;
    height: 40px; 
    color: rgb(32, 33, 34);
    /* font-family: Outerspace; */
    font-size: 25px;
    padding-right: 25px;
    width: 100%;
    z-index: 2;
  }
  
.acc_info {
    position: absolute;
    padding-top: 30px;
    color: rgb(255, 255, 255);
    height: 100px;
    width: 100%;
    bottom: 13vh;
    /* font-family: monospace; */
    background: transparent;
}  
.acc_info div {
    text-align: left;
    margin-top: 10px;
    margin-left: 20px;
}
.image_container {
  position: absolute;
  top: -0.5vh;
  display: flex;
  align-items: center;
  background-color: transparent;
  justify-content: center;
  height: 250px;
  z-index: 1;
  width: 101%; 
}
.image_container .image {
  height: 100%;
  width: 100%; 
  user-select: none;
  -webkit-user-drag: none;
}  