.user_info_container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 20vh;
    right: -58vh;
    height: 50px;
    width: 410px;
    border-radius: 5px;
    padding-left: 0px;
    padding-right: 25px;
    background-color: rgba(24, 23, 22, 0.582);
    transition: all 0.4s ease-out;
}
.user_info_container:hover {
    transform: translateX(-58vh);
    height: 400px;
    overflow: auto;
}

.user_info_container .title {
    position: sticky;
    text-align: center;
    background: transparent;
    top: 0;
    color: rgb(252, 252, 252);
}
.user_info_container .icon {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center ;
    height: 100%;
    width: 20px;
    top: 0;
    left: 0;
    background-color: black;
    color: rgb(252, 252, 252);
}
.user_info_container .info_panel {
    position: relative;
    display: flex;
    overflow: auto;
    flex-direction: column;
    justify-content: flex-start;
    align-items:center ;
    left: 4vh;
    top: 0vh;
    color: rgb(252, 252, 252);
}
.user_info_container div {
    margin-top: 2vh;
    display: flex;
    padding-right: 10px;
    justify-content: space-between;
    align-items: center;
    word-wrap: break-word;
    width: 100%;
    font-size: 20px;
}
.user_info_container div button {
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.534);
    color: rgb(252, 252, 252);
    font-size: 20px;
    transition: all 0.5s ease-in-out;
}
.user_info_container div button:hover {
    background-color: rgba(22, 143, 241, 0.788);
}

.user_info_container input, .user_info_container select {
    font-size: 18px;
    padding-left: 1vh;
    background-color: rgb(255, 255, 255);
    width: 200px;
}
