footer {
	position: absolute;
	bottom: 0;
	user-select: none;
	backdrop-filter: blur(4px);
	background-color: rgba(73, 73, 50, 0.534);
	color: rgb(238, 253, 255);
	width: 100%;
}
footer h1{
	display: flex;
	flex-grow: 1;
	flex-basis: 0;
	font-size: 30px;
	margin: 0;
	color: rgb(238, 253, 255);
	padding: 24px 0;
	letter-spacing: 2px;
	text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #9dd7e6, 0 0 20px rgb(123, 163, 204), 0 0 25px #0073e6, 0 0 30px #50769c, 0 0 35px #17416b;
	background: transparent;
}