.heading_container {
    display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
    backdrop-filter: blur(2px);
}
.heading_container h2 {
    display: inline-block;
	margin: 0;
	width: 100%;
	letter-spacing: 2px;
	font-size: 60px;
	text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #9dd7e6;
	padding-bottom: 15px;
	padding-top: 25px;
}
.heading_container p {
    display: inline-block;
	margin: 0;
	width: 100%;
	font-size: 34px;
	letter-spacing: 2px;
	padding-bottom: 10px;
	padding-top: 10px;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #9dd7e6;
}