header {
	position: sticky;
	top: 0;
	width: 100%;
	border-left-style: none;
	border-right-style: none;
	border-top-style: none;
	border-bottom-style: dotted; 
    border-color: rgb(202, 194, 202);
	user-select: none;
	background-color: rgba(73, 73, 50, 0.671);
	box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
	transition: all 0.5s ease-in-out;
	overflow: visible;
	z-index: 999;
}
header:hover {
	background-color: rgba(44, 44, 39, 0.363);
}
header .content-wrapper {
	display: flex;
}
header h1 {
	display: flex;
	flex-grow: 1;
	flex-basis: 0;
	font-size: 30px;
	margin: 0;
	color: rgb(238, 253, 255);
	padding: 24px 0;
	letter-spacing: 2px;
	text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #9dd7e6, 0 0 20px rgb(123, 163, 204), 0 0 25px #0073e6, 0 0 30px #50769c, 0 0 35px #17416b;
}
header nav {
	display: flex;
	flex-grow: 1;
	flex-basis: 0;
	font-family: Subtitle;
	justify-content: center;
	align-items: center;
}
header nav a {
	text-decoration: none;
	color: rgb(238, 253, 255);
	font-size: 25px;
	padding: 10px 10px;
	margin: 0 10px;
	transition: all 0.5s ease-out;
}
header nav a:hover {
	text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #9dd7e6, 0 0 20px rgb(123, 163, 204), 0 0 25px #0073e6, 0 0 30px #50769c, 0 0 35px #17416b;
}
